{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Главная{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'store_app/style.css' %}">
</head>
<body>
  <header>
      <h1>Товары</h1>
  </header>
  <nav>
      <a href="{% url 'liststore:index' %}">На главную страницу</a>
      <a href="{% url 'liststore:add' %}">Добавить</a>
      {% for rubric in rubrics %}
      <a href="{% url 'liststore:check_rubric' rubric.pk %}">{{ rubric.name }}</a>
      {% endfor %}
  </nav>
  <section>
      {% block content %}
      {% endblock %}
  </section>
</body>
</html>