<!doctype html>
<html lang="ru">
	<head>
		<meta charset="utf-8"> 
		<title>Программа курса</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1 class="title background-TLOU2">
			Killbox
		</h1>
		<h2>
			Программа списка
		</h2>
			<ol>
				<li><a href="#test">Посмотреть видео</a></li>
				<li>Изучить материалы</li>
				<li>Сделать домашнее задание</li>
			</ol>
		<h3>
			Описание курса
		</h3>
			<strong>simple strong</strong>
		<p>Lorem ipsum <span>dolor</span> sit amet, consectetur adipisicing elit, sed do eiusmod tempor <strong class="blue">incididunt</strong> ut labore et dolore magna aliqua.</p>

		<!--<p>Ut enim ad minim veniam, quis <strong>nostrud</strong> exercitation ullamco <b>laboris</b> nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>-->

		<p>Excepteur sint occaecat <em class="blue">cupidatat</em> non proident, sunt in culpa qui officia deserunt <s>mollit</s> anim id est laborum.</p>
		<blockquote>
			Skillbox is GREAT!
		</blockquote>
		<pre>
						var i = 1;
		</pre>
		<img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/15527cb610742ec1f7a92567d9cddf96/960" width="300" alt="TLOU 2">
		<p>
			<a target="_blank" href="https://yandex.ru">
				Сюда клик
			</a>
		</p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		<h4 id-test>TEST</h4>
		<a href="TLOU2.jpg" download="">
			<img src="https://avatars.mds.yandex.net/get-kinopoisk-post-img/1642096/15527cb610742ec1f7a92567d9cddf96/960" width="300" alt="TLOU 2">
		</a>
		<button>
			Жми
		</button>
		<table border="2" width="100%" >
			<caption> Таблица</caption>
			<thead>
				<tr>
					<th colspan="2" >Расписание</th>
				</tr>				
			</thead>
			<tbody>
				<tr>
					<td>Понедельник</td>
					<td>14:00 - 16:00</td>
				</tr>
				<tr>
					<td>Вторник</td>
					<td>14:00 - 16:00</td>
				</tr>
				<tr>
					<td>Среда</td>
					<td>14:00 - 16:00</td>
				</tr>
				<tr>
					<td>Четверг</td>
					<td>14:00 - 16:00</td>
				</tr>
				<tr>
					<td>Пятница</td>
					<td>14:00 - 16:00</td>
				</tr>
				<tr>
					<td>Суббота</td>
					<td>14:00 - 16:00</td>
				</tr>
				<tr>
					<td>Воскресенье</td>
					<td>14:00 - 16:00</td>
				</tr>
				<tfoot>
					<tr>
						<td colspan="2">
							 Примечание: Сб и Вс - выходные дни
						</td>
					</tr>
				</tfoot>
			</tbody>
		</table>
		<div class="parent">
			<div class="child">
				content
			</div>
		</div>
		<div>
			<h2>Display</h2>
			<p>
				Lorem ipsum dolor <span style="display: inline-block; margin-top: 10px;">icon</span> sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
		<h2>Блочная модель</h2>
		<div class="block-model"></div>
		</div>

		<div>
			<h2>Float</h2>
			<img src="TLOU2.jpg" width="300" style="float: left;" alt="TLOU2">
			<p>Плагин Color Picker, Выбрать любой RGB цвет в редакторе</p>
			<p>Я покажу вам как выбрать любой цвет в Sublime Text 3</p>
			<p>Плагин Color Picker поможет выбрать из палитры RGB hex. Lorem ipsum dolor icon sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="position-scene">
			<h2>Position</h2>
			<div>Static</div>
			<div style="position: relative; background-color: black; color: white; overflow: hidden;">
				Relative
				<div style="position: absolute; top: -100px; bottom: -100px; right: -100px; left: -100px; background-color: red; z-index: 1; ">Absolute</div>
				<!-- <div style="position: absolute; top: 0px; bottom: 0px; right: 0px; left: 0px; background-color: red; z-index: -2; ">Absolute</div> -->

			</div>
			<div style="position: fixed; top: 0; left: 0; ">Fixed</div>
		</div>
	</body>
</html>